<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>호스트 질문 입력 💬</title>
</head>
<body>
    <h1>[ 호스트 질문 작성 ]</h1>
    <form action="/host" method="post">
        <label>⭐️ 호스트명:</label>
        <input type="text" name="hostname" required><br>
        <label>⭐️ 숙소명:</label>
        <input type="text" name="property_name" required><br>
        
        <label>1. 반려동물 동반 가능한가요? :</label>
        <input type="text" name="반려동물" required><br>

	<label>2. 세탁기/건조기 있나요? :</label>
        <input type="text" name="세탁시설" required><br>

        <label>3. 샴푸와 린스는 모두 구비되어있나요? :</label>
        <input type="text" name="세면도구" required><br>

	<label>4. 하루에 수건은 몇장 제공하나요? :</label>
        <input type="text" name="수건" required><br>

        <label>5. 주변에 맛집이 있나요? :</label>
        <input type="text" name="맛집" required><br>

	<label>6. 실내 취식이 가능한가요? :</label>
        <input type="text" name="취식" required><br>

        <label>7. 얼리 체크인 가능한가요? :</label>
        <input type="text" name="체크인" required><br>

	<label>8. 가까운 지하철역이 어디인가요? :</label>
        <input type="text" name="지하철" required><br>

        <label>9. 숙소 내에 조리도구가 갖춰져있나요? :</label>
        <input type="text" name="조리도구" required><br>

	<label>10. 침구류 추가할 수 있나요? </label>
        <input type="text" name="침구" required><br>
        
        <label>11. 조식이 있나요? :</label>
        <input type="text" name="조식" required><br>

	<label>12. 주차를 할 수 있나요? :</label>
        <input type="text" name="주차" required><br>

        <label>13. 주변 관광지 추천해주세요 :</label>
        <input type="text" name="관광지" required><br>

	<label>14. 체크인 전이나 체크아웃 후 짐을 맡길 수 있나요? :</label>
        <input type="text" name="짐보관" required><br>

        <label>15. 2박 이상 숙박시 청소해주는지? :</label>
        <input type="text" name="청소" required><br>

	<label>16. 칫솔은 몇 개 제공하나요? :</label>
        <input type="text" name="칫솔" required><br>

        <label>17. OTT 있나요? :</label>
        <input type="text" name="OTT" required><br>

	<label>18. 소음이 있는 편인가요? :</label>
        <input type="text" name="소음" required><br>

        <label>19. 바다에서 몇 분 거리인가요? :</label>
        <input type="text" name="바다" required><br>

	<label>20. 밤에 골목이 어두운 편인가요? </label>
        <input type="text" name="치안" required><br>

        
        <button type="submit">제출하기✅</button>
    </form>
</body>
</html>
